* {
  box-sizing: border-box;
}
html {
  /* --main-text-color: brown; */
  /* design - tokens */
  --main-text-color: #892aa5;
  /* var(--main-text-color); */
}
form {
  font: 1.5em sans-serif;
}
form {
  width: 80%;
  max-width: 500px;
  margin: 2rem auto 2rem auto;
}
label,
input {
  width: 100%;
  margin-bottom: 1rem;
}
input {
  padding: 0.5em;
}
button {
  padding: 0.5em;
  font-size: 1.2rem;
  cursor: pointer;
  /* margin-left: calc(500px - 90px); */
}
button.primary {
  border-radius: 5px;
  background: var(--main-text-color);
  color: #ffffff;
  border-color: darkred; 
  /* var(--main-bg-primary); */
}
button.primary:hover{
  background-color: rgb(247, 6, 6);
  /* var(--main-bg-primary-hover); */
  /* var(--main-bg-primary-400); */
}
button.link {
  color: var(--main-text-color);
  border-width: 0px 0px 1px 0px;
  border-color: darkgray;
}
.wiersz {
  display: flex;
  flex-direction: column;
}
.wiersz.doprawej {
  justify-content: flex-end;
}
.wiersz.wyrownaj {
  justify-content: space-between;
}
.wiersz > .kolumna {
  flex: 0 0 auto;
}

@media screen and (min-width: 480px) {
  .wiersz {
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
}
