<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- .container>.row*2>.col*2 -->
    <div class="container" id="app">
      <div class="row">
        <div class="col">
          <h1 class="display-2">{{title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="list-group mb-3" v-for="todo in todos" :key="todo.id">
            <button
              type="button"
              class="list-group-item list-group-item-action"
            >
              <input type="checkbox" v-model="todo.completed" />
              {{todo.title}}
            </button>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <dl class="mb-4">
            <dt>Name:</dt>
            <dd>Hity WSB</dd>

            <dt>Description:</dt>
            <dd>Definition for the term.</dd>

            <button class="btn btn-info float-end" @click="isEditing = true">
              Edit
            </button>
          </dl>
          <div>
            <form action="" v-if=" isEditing === true">
              <!-- todo -->
              <div class="form-group mb-3">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" />
              </div>

              <div class="form-group mb-3">
                <label for="name">Description</label>
                <textarea name="name" class="form-control"></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
              <button class="btn btn-info float-end" @click="isEditing = false">
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>

      <script src="https://unpkg.com/vue@3"></script>

      <script>
        Vue.createApp({
          created() {
            fetch("http://localhost:3000/user/2/todos")
              .then((resp) => resp.json())
              .then((data) => {
                this.todos = data;
              });

            // http://localhost:3000/?name=dawd&imie=Staszek
            const params = new URLSearchParams(window.location.search);
            this.title = "Witaj " + (params.get("name") || "Guest");
          },
          data() {
            return {
              title: "Hello Guest",
              isEditing: false,
              todos: [
                {
                  userId: 2,
                  id: 21,
                  title: "suscipit repellat esse quibusdam voluptatem incidunt",
                  completed: false,
                },
              ],
            };
          },
        }).mount("#app");
      </script>
    </div>
  </body>
</html>
