<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-1">Witaj</h1>

          <NuxtLink to="/placki">Zaloguj</NuxtLink>
          <NuxtLink to="/users">Users</NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
}
</script>
