<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-1">Placki</h1>

          
          <NuxtLink to="/">Home</NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
}
</script>
