<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-1">Placki</h1>

          <div class="row">
            <div class="col">
              <b-list-group>
                <b-list-group-item
                  href="#some-link"
                  v-for="user in users"
                  :key="user.id"
                >
                  {{ user.name }}
                </b-list-group-item>
              </b-list-group>
            </div>
            <div class="col">
              <user-form />
            </div>
          </div>
          <NuxtLink to="/">Home</NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserForm from '../components/UserForm.vue'
export default {
  components: { UserForm },
  name: 'IndexPage',
  created() {
    fetch('http://localhost:9000/users/')
      .then((res) => res.json())
      .then((data) => {
        this.users = data
      })
  },
  data() {
    return {
      users: [
        {
          name: 'user 1',
        },
        {
          name: 'user 2',
        },
        {
          name: 'user 3',
        },
      ],
    }
  },
}
</script>
